%head
  %script{src: "//cdn.webrtc.ecl.ntt.com/skyway-latest.js"}

%header
  = render "tweets/header"
.author
  = link_to "#", class: "link-image" do
    - if @callroom.user.image.present?
      %p
        = image_tag @callroom.user.image.url, class: 'author__image'
    - else
      .author__no-image
        No-
        %br
        image
  = link_to "#", class: "author__name" do
    = @callroom.user.name
  -if user_signed_in? && current_user.id == @callroom.user_id
    .teachManage
      = link_to "編集", edit_callroom_path(@callroom.id), class: "teachManage__edit"
      = link_to "削除", callroom_path(@callroom.id), method: :delete, class: "teachManage__destroy"
      - if @callroom.release == 1
        = link_to "非公開", callroom_path(@callroom.id), method: :delete, class: "teachManage__destroy"
      - else @callroom.release == 0
        = link_to "公開", callroom_path(@callroom.id), method: :delete, class: "teachManage__destroy"

%h1.show-title
  教えて電話解決！

.container
  .p2p-media
    .local-stream
      %video#js-local-stream
    .remote-stream
      %video#js-remote-stream


.tell
  %p あなたの電話番号:
  %span#js-local-id
  %p.tell__note
    あなたの電話番号12桁の番号をメッセージを活用して教えて下さい
  %input#js-remote-id{placeholder: "相手の電話番号を入力", type: "text"}/
  %button#js-call-trigger 電話をする
  %button#js-close-trigger 終了
%p#js-meta.meta
-# .form
-#   = form_for [@teach, @message] do |f|
-#     = f.text_field :comment, class: 'form__message', placeholder: 'type a message'
-#     .form__mask
-#       = f.label :image, class: 'form__mask__image' do
-#         = icon('fas', 'image', class: 'icon')
-#         = f.file_field :image, class: 'hidden'
-#     = f.submit 'Send', class: 'form__submit'

-# .message-list
-#   = render partial: 'message', collection: @messages, as: :messages

.teach
  .teach__title
    = @callroom.title
  .teach__tags
    .teach__tags__tag
  .teach__body
    = @callroom.body
  - if @callroom.image.present?
    %p
      = image_tag @callroom.image.url, class: 'teach__image'

%input{name: "callroom_id",type: "hidden",  value: @callroom.id, class: 'callroom_id'}