%head
  %script{src: "//cdn.webrtc.ecl.ntt.com/skyway-latest.js"}

%header
  = render "tweets/header"

.show-body
  %h1.show-callroom-title
    電話で解決
  .author
    .teacher 先生
    = link_to user_path(@callroom.user_id), class: "link-image"do
      - if @callroom.user.image.present?
        %p
          = image_tag @callroom.user.image.url, class: 'author__image'
      - else
        %P
          = image_tag(src= "/no-image.png", class: "author__image")
    = link_to user_path(@callroom.user_id), class: "author__name" do
      = @callroom.user.name
    -# 生徒情報
    - if @student.present? && @student.image.present?
      .student 生徒
      = link_to user_path(@student.id), class: "link-image" do
        %p
          = image_tag @student.image.url, class: 'author__image'
    - elsif @student.present?
      %P
        = image_tag(src= "/no-image.png", class: "author__image")
      = link_to "#", class: "author__name" do
        = @student.name
    - else
      .student 生徒はまだいません
      
    -# 投稿者の編集・及び削除
    -if user_signed_in? && current_user.id == @callroom.user_id
      .manage
        = link_to edit_callroom_path(@callroom.id), class: "manage__edit" do
          = icon('far', 'edit')
          編集
        = link_to  callroom_path(@callroom.id), method: :delete, class: "manage__destroy" do
          = icon("fa", "trash-alt")
          削除
        - if @callroom.status == 0
          = link_to update_attribute_callrooms_path, method: :get, class: "manage__edit" do
            = icon('fas', 'globe-europe')
            公開
        - elsif @callroom.status == 1
          = link_to update_attribute_callrooms_path, method: :get, class: "manage__edit" do
            = icon('fa', 'lock')
            非公開
        - elsif @callroom.status == 3
          = link_to update_attribute_callrooms_path, method: :get, class: "manage__edit" do
            = icon('fa', 'comment-slash')
            通信切断
  .tweet
    - if @callroom.user_id == current_user.id && @callroom.status == 3
      %p.infomation #{@student.name}さんと通信中
    - elsif  @callroom.status == 3 && @callroom.student_id == current_user.id
      %p.infomation #{@callroom.user.name}さんと通信中
  
  -# ビデオ通話
  .container
    .p2p-media
      .local-stream
        %video#js-local-stream
      .remote-stream
        %video#js-remote-stream

  .tell
    .tell__number
      %p あなたの電話番号:
      %span#js-local-id
    %p.tell__note
      あなたの電話番号12桁の番号をメッセージを活用して教えて下さい
    %input#js-remote-id{placeholder: "相手の電話番号を入力", type: "text"}/
    %button#js-call-trigger 電話をする
    %button#js-close-trigger 通信終了
  %p#js-meta.meta

  .show-form
    = form_for [@callroom, @message] do |f|
      = f.text_field :comment, class: 'form__message', placeholder: 'コメント'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'コメントする', class: 'comment__submit '
    %p.small Enterキーでも投稿します。
    .comment <コメント一覧>
    .reply-list
      = render partial: 'message', collection: @messages, as: :messages

%input{name: "callroom_id",type: "hidden",  value: @callroom.id, class: 'callroom_id'}

  / 口コミ入力フォーム
  = form_for [@callroom, @review] do |f|
    / エラーメッセージ
    -# = render 'layouts/error_messages', model: f.object
    / 商品コードの送信
    = f.hidden_field :@callroom_id, { value: @callroom.id}
    / 評価
    #star.form-group.row
      = f.label :rate,'評価 ', class:'col-md-3 col-form-label'
      = f.hidden_field :rate, id: :review_star
    / 評価javascript
    :javascript
      $('#star').raty({
        size     : 36,
        starOff:  '#{asset_path('star-off.png')}',
        starOn : '#{asset_path('star-on.png')}',
        starHalf: '#{asset_path('star-half.png')}',
        scoreName: 'review[rate]',
        half: true,
      });
    / 口コミ
    .form-group.row
      = f.label :comment, '口コミ内容 ', class:'col-md-3 col-form-label'
      .col-md-9
        = f.text_area :comment, class: "form-control", rows: "8", |
                  placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。       |
          まずは投稿してみましょう！投稿してから編集もできますよ！'                           |
    / 確認ボタン
    .form-group.row.justify-content-end
      .col-md-9
        = f.submit '投稿する', class:"btn btn-success"
  / /口コミ入力フォーム
