.index-card
  -# 投稿者
  - if user_signed_in? && callroom.user_id == current_user.id
    = link_to callroom_path(callroom.id),class:"image-box" do
      - if callroom.image.present?
        = image_tag callroom.image.url,method: :get , class: 'index-image'
      - else 
        = image_tag(src= "/teacher.png", class: "index-image")

    = link_to callroom_path(callroom.id),class:"post-box" do
      %h3.title
        = truncate(callroom.title, length: 10)
      %h5.body
        = truncate(callroom.body, length: 116)

    -# 閲覧者
  - else
    .image-box{ class: "call", "data-call_id": "#{callroom.id}" }
      - if callroom.image.present?
        = image_tag callroom.image.url,method: :get , class: 'index-image'
      - else 
        = image_tag(src= "/teacher.png", class: "index-image")

    .post-box{ class: "call", "data-call_id": "#{callroom.id}" }
      %h3.title
        = truncate(callroom.title, length: 10)
      %h5.body
        = truncate(callroom.body, length: 116)

  .profile-box
    = link_to user_path(callroom.user.id),method: :get, class: "profile-image-a"  do
      - if callroom.user.image.present? 
        = image_tag callroom.user.image.url, class: "profile-image"
      - else 
        = image_tag(src= "/no-image.png", class: "profile-image")
    = link_to user_path(callroom.user.id),method: :get  ,class: "profile-name" do
      = callroom.user.name
    = link_to user_path(callroom.user.id),method: :get  ,class: "post-created_at" do
      = callroom.created_at.strftime("%Y年%m月%d日")


// 生徒用先生詳細モーダル
%div{class:"call_info_modal" ,id:"#{callroom.id}"}
  #call_info_modal_content
    .modal-profile-box
      = link_to user_path(callroom.user.id),method: :get, class: "modal-profile-image-a"  do
        - if callroom.user.image.present? 
          = image_tag callroom.user.image.url, class: "modal-profile-image"
        - else 
          = image_tag(src= "/no-image.png", class: "modal-profile-image")
      = link_to user_path(callroom.user.id),method: :get  ,class: "modal-profile-name" do
        #{callroom.user.name}さん
      = link_to user_path(callroom.user.id),method: :get  ,class: "modal-post-created_at" do
        = callroom.created_at.strftime("%Y年%m月%d日")
      .btn-flat-vertical-border.call
        #{callroom.user.id}さんに電話する
    .modal-image-box{ class: "call", "data-call_id": "#{callroom.id}" }
      - if callroom.image.present?
        = image_tag callroom.image.url,method: :get , class: 'modal-index-image'
      - else 
        = image_tag(src= "/teacher.png", class: "modal-index-image")
    .modal-post-box{ class: "call", "data-call_id": "#{callroom.id}" }
      %h3.modal-title
        = callroom.title
      %h5.modal-body
        = safe_join(callroom.body.split("\n"), tag(:br))
    -if callroom.reviews.present?
      .modal-review
        .review-average
          %div{ class:"rate", id:"modal-star-rate-#{callroom.id}"} 教えた人数#{callroom.reviews.count}人 &nbsp 平均:&nbsp#{callroom.reviews.average(:rate).to_f.round(2)} &nbsp/5&nbsp
          .btn-flat-vertical-border.call
            #{callroom.user.id}さんに電話する
        .modal-review-box
          ＜コメント一覧＞
          = render partial: '/tweets/review', collection: callroom.reviews, as: :review
    
:javascript
  $('#modal-star-rate-#{callroom.id}').raty({
  size: 36,
  starOff: "#{asset_path('star-off.png')}",
  starOn: "#{asset_path('star-on.png')}",
  starHalf: "#{asset_path('star-half.png')}",
  half: true,
  readOnly: true,
  //平均点を算出し、round関数で切り上げ
  score: "#{callroom.reviews.average(:rate).to_f.round(2)}",
  
  });