.tweet-card
  .box
    = link_to "#", class:"profile" do
      - if callroom.user.image.present?
        %p
          = image_tag callroom.user.image.url, class: 'profile__image'
      - else
        .profile__no-image
          No-
          %br
          image
      .profile__name
        = callroom.user.name
    .tweet
      = link_to callroom_path(callroom.id), method: :get, class:"tweet__title" do
        = callroom.title
      .tweet__tags
        .tweet__tags__tag
          
        .tweet__tags__tag
          
        .tweet__tags__tag
          
  .body
    = callroom.body