%dl
  .field
    .field-label
      = form.label :title, "題名"
      %span.must※
    .field-input
      = form.text_field :title,placeholder: "題名を入力してくだい"
  .field-image 
    .field-image-label
      = form.label :image, class:"form_image" do
        画像
        .preview-box
          -if @tweet.image.present?
            = image_tag @tweet.image.url, class: 'tweet_image'
          - else
            = image_tag(src= "/no-image.png", class: "tweet_image")
    = form.file_field :image, class: 'hidden'
  .field
    .field-label
      = form.label :body, "本文"
      %span.must※
    .field-input
      = form.text_area :body, placeholder:"勉強したことやわかったことをまとめよう" 
.actions
  = form.submit "投稿する", class: 'btn'
