%h1.section
  Output
.tweet-box
  = render @tweets  
%h1.section
  Help 
.teach-box
  .teach-card
    .box
      -# .face
      = link_to "#", class:"profile" do
        -# %img{src="#" alt="貼る予定"}
        .profile__image       
        .profile__name
          name
      .teach
        = link_to "#", class:"teach__title" do
          割合がわかりません
        .tweet__tags
          .tweet__tags__tag
            算数
          .tweet__tags__tag
            小６
          .tweet__tags__tag
            割合
    .body
      教えてください
  .teach-card
    .box
      -# .face
      = link_to "#", class:"profile" do
        -# %img{src="#" alt="貼る予定"}
        .profile__image       
        .profile__name
          name
      .teach
        = link_to "#", class:"teach__title" do
          割合がわかりません
        .tweet__tags
          .tweet__tags__tag
            算数
          .tweet__tags__tag
            小６
          .tweet__tags__tag
            割合
    .body
      教えてください
  .teach-card
    .box
      -# .face
      = link_to "#", class:"profile" do
        -# %img{src="#" alt="貼る予定"}
        .profile__image       
        .profile__name
          name
      .teach
        = link_to "#", class:"teach__title" do
          割合がわかりません
        .tweet__tags
          .tweet__tags__tag
            算数
          .tweet__tags__tag
            小６
          .tweet__tags__tag
            割合
    .body
      教えてください
  .teach-card
    .box
      -# .face
      = link_to "#", class:"profile" do
        -# %img{src="#" alt="貼る予定"}
        .profile__image       
        .profile__name
          name
      .teach
        = link_to "#", class:"teach__title" do
          割合がわかりません
        .tweet__tags
          .tweet__tags__tag
            算数
          .tweet__tags__tag
            小６
          .tweet__tags__tag
            割合
    .body
      教えてください
  .teach-card
    .box
      -# .face
      = link_to "#", class:"profile" do
        -# %img{src="#" alt="貼る予定"}
        .profile__image       
        .profile__name
          name
      .teach
        = link_to "#", class:"teach__title" do
          割合がわかりません
        .tweet__tags
          .tweet__tags__tag
            算数
          .tweet__tags__tag
            小６
          .tweet__tags__tag
            割合
    .body
      教えてください
  .teach-card
    .box
      -# .face
      = link_to "#", class:"profile" do
        -# %img{src="#" alt="貼る予定"}
        .profile__image       
        .profile__name
          name
      .teach
        = link_to "#", class:"teach__title" do
          割合がわかりません
        .tweet__tags
          .tweet__tags__tag
            算数
          .tweet__tags__tag
            小６
          .tweet__tags__tag
            割合
    .body
      教えてください