.reply-list__box{data: {reply: {id: replies.id}}}
  .comment-author
    -# ユーザーの写真
    = link_to "#", class: "link-image"do
      - if replies.user.image.present?
        %p
          = image_tag replies.user.image.url, class: 'author__image'
      - else
        %P
          = image_tag(src= "/no-image.png", class: "author__image")

    -# 投稿者
    = link_to "#", class: "author__name" do
      = replies.user.name
      
    -# コメント
    - if replies.comment.present?
      %p.reply-list__box__comment
        = replies.comment
    = image_tag replies.image.url, class: 'lower-reply__image' if replies.image.present?

    -# 投稿日時
    .author__created_at
      = replies.created_at.strftime("%Y年%m月%d日%H時%M分")
