.tweet-card
  .box
    = link_to "#", class:"profile" do
      - if user.image.present?
        %p
          = image_tag user.image.url, class: 'profile__image'
      - else
        .profile__no-image
          No-
          %br
          image
      .profile__name
        = user.name
    .tweet
      = link_to user_path(current_user.id), method: :get, class:"tweet__title" do
        = user.subject
      .tweet__tags
        .tweet__tags__tag
          
        .tweet__tags__tag
          
        .tweet__tags__tag
          
  .body
    = user.introduction