%header
  = render "header"
.show-body
  .author
    = link_to user_path(@tweet.user_id), class: "link-image"do
      - if @tweet.user.image.present?
        %p
          = image_tag @tweet.user.image.url, class: 'author__image'
      - else
        %P
          = image_tag(src= "/no-image.png", class: "author__image")
    = link_to user_path(@tweet.user_id), class: "author__name" do
      = @tweet.user.name
    
    .author__created_at
      = @tweet.created_at.strftime("%Y年%m月%d日")

    -if user_signed_in? && current_user.id == @tweet.user_id
      .manage
        = link_to edit_tweet_path(@tweet.id), class: "manage__edit" do
          = icon('far', 'edit')
          編集
        = link_to  tweet_path(@tweet.id), method: :delete, class: "manage__destroy" do
          = icon("fa", "trash-alt")
          削除
  .tweet
    %h1.show-title
      = @tweet.title
    - if @tweet.image.present?
      %p
        = image_tag @tweet.image.url, class: 'tweet__image'

    .tweet__body
      = safe_join(@tweet.body.split("\n"), tag(:br))

  .show-form
    = form_for [@tweet, @reply] do |f|
      = f.text_field :comment, class: 'form__reply', placeholder: 'コメント'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'コメントする', class: 'form__submit'
    %p.small Enterキーで投稿します。
    .comment <コメント一覧>
    .reply-list
      = render partial: 'reply', collection: @replies, as: :replies