.user-show-body
  .UserMainContainer
    .BaseContainerUserInfomation
      .author
        - if @user.image.present?
          = image_tag @user.image.url, class: 'author__image'
        - else
          = image_tag(src= "/no-image.png", class: "author__image")
      .account_name
        = @user.name
      .user_introduction
        - if @user.introduction.present?
          = safe_join(@user.introduction.split("\n"), tag(:br))
        - elsif user_signed_in? && @user.id ==  current_user.id
          自己紹介：未設定
      .user_favorite_subject
        - if @user.introduction.present?
          好きな教科：
          = (safe_join(@user.subject.split("\n"), tag(:br)))
        - elsif user_signed_in? && @user.id ==  current_user.id
          好きな教科：未設定
      - if user_signed_in? && current_user.id == @user.id
        .user_edit_button
          = link_to "プロフィールを編集する", edit_user_path(@user.id), class:"user_edit_button__link"
    .BaseContainer_user_post
      .user_post_header
        .user_post_header__mark
        .user_post_header__info 記事一覧
      %ul.userpost_tab
        %li{class:"userpost_tab_tweets active"}
          = link_to "アウトプット", "#tweets"
        %li.userpost_tab_callroom
          = link_to "電話用", "#callroom"

      %div{class:"tabContents active", id:"tweets"}
        最近の投稿
        .index-box
          = render partial: '/tweets/tweet', collection: @tweets, as: :tweet
      %div{class:"tabContents", id:"callroom"}
        電話用
        - if @user_callroom.present?
          - if @user_callroom.status == 0
            現在　非公開
          - elsif @user_callroom.status == 1
            現在　公開中
          - elsif @user_callroom.status == 2 or @user_callroom.status == 3
            現在　通信中
          .index-box
            = render partial: '/tweets/callroom', locals:{callroom: @user_callroom} 
        - else 
          現在　設定していません

  -#     -if user_signed_in? && current_user.id == @user_id
  -#       .manage
  -#         = link_to edit_tweet_path(@user.id), class: "manage__edit" do
  -#           = icon('far', 'edit')
  -#           編集
  -#         = link_to  tweet_path(@user.id), method: :delete, class: "manage__destroy" do
  -#           = icon("fa", "trash-alt")
  -#           削除
  -# .tweet
  -#   %h1.show-title
  -#     = @user.name
  -#   %h1.show-title
  -#     = @user.subject
  -#   - if @user.image.present?
  -#     %p
  -#       = image_tag @user.image.url, class: 'tweet__image'

  -#   .tweet__body
  -#     = safe_join(@user.introduction.split("\n"), tag(:br))

  -# .tweet
  -#   %h1.show-title
  -#     = @user.title
  -#   - if @user.image.present?
  -#     %p
  -#       = image_tag @user.image.url, class: 'tweet__image'

  -#   .tweet__body
  -#     = safe_join(@user.body.split("\n"), tag(:br))

  -# .show-form
  -#   = form_for [@user, @reply] do |f|
  -#     = f.text_field :comment, class: 'form__reply', placeholder: 'コメント'
  -#     .form__mask
  -#       = f.label :image, class: 'form__mask__image' do
  -#         = icon('fas', 'image', class: 'icon')
  -#         = f.file_field :image, class: 'hidden'
  -#     = f.submit 'コメントする', class: 'form__submit'
  -#   %p.small Enterキーで投稿します。
  -#   .comment <コメント一覧>
  -#   .reply-list
  -#     = render partial: 'reply', collection: @replies, as: :replies