!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    -# なくてもよい
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %title StuSuppo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    
  %body
    = render 'layouts/notifications'
    = yield
    #callmodal
      #callmodal_content{data: {called: {id: @callroom.user_id}}}
        -# - if @student.image.present?
        -#   %p
        -#     = image_tag @student.image.url, class: 'author__image'
        -# - else
        -#   .author__no-image
        -#     No-
        -#     %br
        -#     image
        -# %p "#{@student.name}さんから連絡が来ています"
        -# %p 紹介:#{@student.profile}
        -# = link_to "承認する", call_callrooms_path, method: :get
    -# - if  @callroom.present? && current_user.id == @callroom.user_id  && @callroom.status == 2
    -#   #callmodal
    -#     #callmodal_content{data: {called: {id: @callroom.user_id}}}
    -#       - if @student.image.present?
    -#         %p
    -#           = image_tag @student.image.url, class: 'author__image'
    -#       - else
    -#         .author__no-image
    -#           No-
    -#           %br
    -#           image
    -#       %p "#{@student.name}さんから連絡が来ています"
    -#       %p 紹介:#{@student.profile}
    -#       = link_to "承認する", call_callrooms_path, method: :get