!!!
%html
  %head
    = include_gon
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    -# なくてもよい
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %title StuSuppo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    
  %body
    = render 'layouts/notifications'
    %header
      .hyoji
        %h1.logo
          = link_to root_path, class:"logo-link" do
            stu
            %br
            　suppo
        .title
          = link_to root_path, class:"title-link" do
            study-support
        %ul.btn
          -if user_signed_in? 
            = link_to user_path(current_user), class:"btn__profile" do
              %li
                = current_user.name
            = link_to destroy_user_session_path, method: :delete, class:"btn__logout" do
              %li ログアウト
            = link_to new_tweet_path, method: :get, class:"btn__tweet" do
              %li アウトプット
              -# 電話ができるようにする。（編集モード）
            - if @callroom.present? && @callroom.status == 0 
              = link_to edit_callroom_path(@callroom.id), method: :get, class:"btn__teach" do
                %li 教えるモード(編集)
              -# 電話ができないようにする。
            - elsif @callroom.present? && @callroom.status == 1 @callroom.status == 1
              = link_to update_attribute_callrooms_path, method: :get, class:"btn__teach" do
                %li 教えるモード（非公開）
              -# 新しく電話ができないようにする。
            - elsif @callroom.nil?
              = link_to new_callroom_path, method: :get, class:"btn__teach" do
                %li 教えるモード
            
          -else
            = link_to new_user_registration_path, method: :get, class:"btn__logout" do
              %li 新規登録
            = link_to users_guest_sign_in_path, method: :post, class:"btn__tweet" do
              %li ゲストログイン
            = link_to  new_user_session_path, method: :get, class:"btn__tweet" do
              %li ログイン
    
    = yield
    #callmodal
      #callmodal_content
    #modal
      #modal_content