!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    -# なくてもよい
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %title StuSuppo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    
  %body
    = render 'layouts/notifications'
    = yield
    #callmodal
      #callmodal_content
    #modal
      #modal_content